.idea
Lcapy-Stripped/build
Lcapy-Stripped/dist
Lcapy-Stripped/lcapy.egg-info
Lcapy-Stripped/Non-Lcapy-Files/Solutions
Lcapy-Stripped/lcapy/__pycache__
Pyodide/fonts
Pyodide/server.pid
Pyodide/__pycache__
Pyodide/Circuits/*/*.svg
Pyodide/Circuits.zip
Pyodide/src/docs
Pyodide/node_modules
Pyodide/Scripts/__pycache__
Pyodide/.folderHash
Pyodide/dist
Schemdraw/test_schematic.svg
*.pid
/simpliPFy/simplipfy.egg-info/
/simpliPFy/dist/
simpliPFy/__pycache__
simpliPFy/simplipfy/__pycache__
simpliPFy/simplipfy/KirchhoffSolver/__pycache__
simpliPFy/Solutions
simpliPFy/simplipfy/Export/__pycache__
simpliPFy/simplipfy/SimplipyStepWise/__pycache__
simpliPFy/simplipfy/SimplifyInUserOrder/__pycache__
simpliPFy/build
simpliPFy/simplipfy/SimplifyStepWise/__pycache__
simpliPFy/tests/__pycache__
simpliPFy/Circuits/*/*.svg
*/*/*/__pycache__
simpliPFy/simplipfy/Svg/elements/__pycache__
simpliPFy/tests/Solutions
simpliPFy/.eggs
simpliPFy/docs/*
!simpliPFy/docs/_static/
!simpliPFy/docs/source/images/
!simpliPFy/docs/source/
!simpliPFy/docs/_templates/
!simpliPFy/docs/jsdoc.json
simpliPFy/docs/*.rst
simpliPFy/simplipfy/Export/DataStructures/__pycache__
simpliPFy/.TestVenv
simpliPFy/.venv
simplipfy/tests/*.svg
simpliPFy/CircuitGraphs
simpliPFy/curKirchhoff_step0.svg
simpliPFy/node_modules
Pyodide/Scripts/simpliPFyBuildTools.egg-info
Pyodide/Scripts/.env
Pyodide/Scripts/.envDocker
Pyodide/Scripts/.envServer
node_modules
package.json
/package-lock.json
