/* COLORS
key-yellow: #FFC107
*/

body, html {
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

#bootstrap-overrides #nav-select{
    color: #FFC107;
}

/* Landing page shadows*/
#bootstrap-overrides #yellow-image-container {
    box-shadow: 0 6px 6px 0px lightgray;
    z-index: 2;
    position: relative;
}

#bootstrap-overrides #feature-container {
    box-shadow: 0 6px 6px 0px gray;
    z-index: 1;
    position: relative;
}

/* navbar */
#bootstrap-overrides #nav-logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: large;
    font-weight: bold;
    color: #FFC107;
}

#bootstrap-overrides .nav-link {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: x-large;
    font-weight: normal;
    color: white;
}
#bootstrap-overrides #nav-link-circuit {
    color: #FFC107;
}

/* Hero section */
#bootstrap-overrides #start-button {
    font-weight: bolder;
    border-color: #222222;
    border-radius: 20px;
}

#bootstrap-overrides #heading-logo {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: white;
}

/* Feature section */
#bootstrap-overrides #features {
    list-style-type: none;
    font-weight: bold;
}

#bootstrap-overrides #start-container {
    background-color: white;
}

#bootstrap-overrides #feature-container {
    background-color: white;
}

#bootstrap-overrides #circuit-selector-explanation-container {
    background-color: white;
    z-index: 0;
    position: relative;
}

/* Selection page */

#bootstrap-overrides .carousel-control-next {
    z-index: 3;
}
#bootstrap-overrides .carousel-control-prev {
    z-index: 3;
}


#bootstrap-overrides .element-heading {
    color: #FFC107;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
}

#bootstrap-overrides .svg-selector {
    z-index: 2;
    border: 1px solid white;
    border-radius: 10px;
    position: relative;
    width: 100%;
}

#bootstrap-overrides .img-overlay {
    z-index: 5;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    display: none;  /* don't show button overlay at start */
}

#bootstrap-overrides .img-overlay:before {
    z-index: 5;
    content: ' ';
    display: block;
    height: 45%; /* height position of the start button in container */
}

/* applies to every start button overlay on the circuits */
#bootstrap-overrides .circuitStartBtn {
    font-weight: bold;
    border-radius: 40px;
    z-index: 10;
}

/* Simplifier page */
#bootstrap-overrides svg{
    height: 400px; /* set an absolute height, so changing images always have the same size */
    border: 1px solid #eeeeee;
    border-radius: 6px;
}

#bootstrap-overrides ul {
    list-style-type: none;
}

#bootstrap-overrides #check-btn {
    background-color: #FFC107;
    border: none;
    color: #222222;
}

#bootstrap-overrides #reset-btn {
    background-color: #b61117;
    border: none;
    color: white;
}

