body, html {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #ece9e6, #ffffff);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
}
#simplification {
    width: 90vw;
    max-width: 1200px;
    background: #fff;
    padding: 2vw;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: width 0.3s;
}
.content-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
}
.circuit-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-bottom: 2vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
    height: 60vh;
    overflow: hidden;
}
.svg-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.description-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 2vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: #fff;
}
.bounding-box {
    fill: red;
    stroke: black;
    stroke-width: 1;
    fill-opacity: .1;
    pointer-events: none;
}
#progress-container {
    width: 80%;
    max-width: 300px;
    background-color: #f3f3f3;
    border-radius: 25px;
    overflow: hidden;
    margin: 2vh auto;
}
#progress-bar {
    width: 0;
    height: 2vh;
    background-color: #4caf50;
    text-align: center;
    line-height: 2vh;
    color: white;
    transition: width 0.3s;
}
.clicked-elements-container {
    border: 1px solid #ddd;
    padding: 1vh;
    margin-top: 2vh;
    display: inline-block;
    vertical-align: top;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 80%;
}
.reset-button,
.check-button {
    margin-top: 1vh;
    padding: 1vh 2vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vh;
    transition: background 0.3s, transform 0.2s;
}
.reset-button {
    background-color: #f44336;
    color: white;
}
.check-button {
    background-color: #4caf50;
    color: white;
}
.reset-button:hover,
.check-button:hover {
    transform: scale(1.05);
}
#message-box {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    z-index: 1000;
}
#menu-bar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
    transition: left 0.3s;
    z-index: 1000;
    display:flex;
    flex-direction: column;
}
#menu-bar select {
    width: 100%; /* Adjust the width as needed */
    margin: 50px 0; /* Adjust the margin as needed */
    padding: 10px; /* Adjust the padding as needed */
    font-size: 16px; /* Adjust the font size as needed */
    border: 1px solid #ccc; /* Adjust the border color as needed */
    border-radius: 5px; /* Adjust the border radius as needed */
    background-color: #fff; /* Adjust the background color as needed */
    color: #333; /* Adjust the text color as needed */
}

#menu-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1001;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
#menu-toggle::before {
    content: "\2630"; /* Unicode for hamburger icon */
}

#start-button {
    width: 100%;
    margin-top: auto;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, transform 0.2s;
}

#start-button:hover {
    background-color: #45a049;
    transform: scale(1.05);
}
.nav-buttons-container {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin-top: 10px;
}
.nav-button {
    margin-top: 1vh;
    padding: 1vh 2vw;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 2vh;
    transition: background 0.3s, transform 0.2s;
    background-color: #2196f3;
    color: white;
}
.nav-button:hover {
    transform: scale(1.05);
}